$moderate-violet: hsl(263, 55%, 52%);
$very-dark-grayish-blue: hsl(217, 19%, 35%);
$very-dark-blackish-blue: hsl(219, 29%, 14%);
$White: hsl(0, 0%, 100%);


$light-gray: hsl(0, 0%, 81%);
$light-grayish-blue: hsl(210, 46%, 95%);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: $light-grayish-blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{   
    margin: 5% 7.5%;
    display: grid;
    padding: 0 5rem;
    grid-template-columns: repeat(4, 226px);
    grid-template-rows: 240px 224px;
    grid-gap: 1.5rem;
    grid-template-areas: 
    "a a b e"
    "c d d e";
    gap: 1rem;

    .card{
        padding: 1.5rem 1.75rem;
        border-radius: .25rem;
        
        box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.3);

        .user-detail{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 1rem;

            .profile-picture{
                width: 1.4rem;
                border-radius: 50%;
            }

            .detail{
                display: flex;
                flex-direction: column;
            }

            .name{
                font-size: .75rem;
            }

            .status{
                font-size: .6rem;
                opacity: 50%;
            }
        }

        .testimonial-container{
            .testimonial{
                font-weight: 600;
                font-size: 16px;
                letter-spacing: .4px;
                padding: 1rem 0;
            }

            .experience{
                font-weight: 400;
                font-size: .65rem;
                line-height: .90rem;
                letter-spacing: .3px;
                opacity: 80%;
            }
        }
    }

    .card-1{
        grid-area: a;
        background-color: $moderate-violet;
        background-image: url('../images/bg-pattern-quotation.svg');
        background-position: 70% 0;
        background-repeat: no-repeat;
        .profile-picture{
            border: 1.5px solid $light-grayish-blue;
        }
    }
    .card-2{
        grid-area: b;
        background-color: $very-dark-grayish-blue;
    }
    .card-3{
        grid-area: c;
        background-color: $White;
    }
    .card-4{
        grid-area: d;
        background-color: $very-dark-blackish-blue;
    }
    .card-5{
        grid-area: e;
        background-color: $White;
    }
}

.light{
    color: $very-dark-blackish-blue;
}

.dark{
    color: $White;
}